$color-font-menu: #737373;
$background-color-mainmenu: #fdfde2;
$hover-color: #d1acdd;
$background-color-principal: #ffcce6;
$color-parrafos: #737373;
$backgroundcolor-footer: #f5f594;
$color-titulo-seccion: #8c1aff;



